.image__list{
    justify-content: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    column-gap: 10px;
    grid-gap: 10px;
}

.image__list img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}